body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #fff;
    z-index: 1;
    height: auto;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.background{
    background-color: #d6c499;
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
    z-index: 2;
}

.header{
    display: flex;
    background-color: #42210B;
    padding: 8px;
    z-index: 3;
}

.logo{
    max-width: 100px;
    margin-left: 16px;
}

.headlinks{
    display: flex;
    gap: 8px;
    color: #fff;
    list-style: none;
    margin-left: auto;
    padding-right: 16px;
}

a{
    text-decoration: none;
}

a:link{
    color: #fff;
}

a:hover{
    color: #c69c6d;
}

a:visited{
    color: #f9ecd2;
}

.title{
    background-color: #c69c6d;
    color: #d6c499;
    font-size: 2.8em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 0.5em;
    position: absolute;
    height: 4.5em;
    width: 100%;
    top: 5pc;
    z-index: 4;
}

.furbabiesFureverTitle{
    position: absolute;
    top: -0.6em;
}

.sideTextContainer{
    background-color: #42210B;
    color: #fff;
    font-weight: 700;
    font-size: 0.5em;
    position: relative;
    left: 74%;
    top: -1em;
    height: 45em;
    width: 20%;
    padding: 16px 16px;
    border-top-right-radius: 4pc;
    border-bottom-left-radius: 4pc;
    z-index: 4;
}

.sideText{
    padding-top: 10%;
}

.girlAndCat{
    position: absolute;
    top: -5em;
    left: 10px;
    width: 100px;
    height: auto;
    z-index: 4;
}

.boyAndDog{
    position: relative;
    top: 1em;
    left: 60%;
    width: 140px;
    height: auto;
    z-index: 5;
}

.content{
    display: grid;
}

.descriptionSite{
    background-color: #f9ecd2;
    color: #42210B;
    width: 60%;
    padding: 20px;
    margin-top: 16em;
    margin-left: 4em;
    text-align: center;
    filter: drop-shadow(-10px -10px #c69c6d);

}

.section1{
    background-color: #f9ecd2;
    color: #42210B;
    width: 55%;
    height: 80%;
    max-width: 50%;
    margin-left: 13%;
    margin-top: 3%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

#section-1{
    position: relative;
    font-style: italic;
    font-weight: 100;
    font-size: 4em;
    left: -1em;
    top: -1em;
}

.textNDesc{
    display: flex;
}

.section1Description{
    display: flex;
    align-items: center;
    background-color: #c69c6d;
    color: #fff;
    position: relative;
    left: 6em;
    top: -3em;
    padding: 8px;
    width: 50%;
    height: 150px;
}

.pictureCircles1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.furbaby{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #c69c6d;
}

.furbaby2{
    border-color: #42210B;
}

.section2{
    position: relative;
}

#section-2{
    text-align: end;
    align-self: center;
    padding: 8px 25vw;
    position: absolute;
    right: -10px;
    left: -10px;
    font-size: 2.5em;
    background-color: #42210B;
    color: #c69c6d;
    z-index: 6;
    font-style: italic;
    font-weight: 100;
}

.section2Description{
    display: flex;
    align-items: center;
    background-color: #f9ecd2;
    text-align: center;
    color: #000;
    position: relative;
    left: 4em;
    top: 0.5em;
    padding: 8px;
    width: 30%;
    height: 130px;
    z-index: 6;
}

.pictureCircles2{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 33% 33% 33%;
    background-color: #c69c6d;
    text-align: center;
    border-radius: 7vh;
    margin: 4.5em 1em 1em;
    gap: 16px;
    padding: 20px 40px 50px;
    z-index: 5;
    align-items: center;
    justify-content: center;
}

.container1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}
.container2{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;

}
.container3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
}
.container4{
    grid-column-start: 1;
    grid-row-start: 2;
}
.container5{
    grid-column-start: 2;
    grid-row-start: 2;
}
.container6{
    grid-column-start: 3;
    grid-row-start: 2;
}
.container7{
    grid-column-start: 4;
    grid-row-start: 2;
}
.container8{
    grid-column-start: 5;
    grid-row-start: 2;
}
.container9{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
}
.container10{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
}
.container11{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
}
.container12{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
}

.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    margin-top: 4em;
}

#section-3{
    font-style: italic;
    font-weight: 100;
    font-size: 4em;
}
.section3bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 8px solid #c69c6d;
    border-top-left-radius: 8pc;
    width: 70vw;
    height: 5em;
}

.textNDesc2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3Description{
    text-align: center;
    background-color: #c69c6d;
    color: #fff;
    padding: 8px;
    width: 50%;
    height: 150px;
}

.pictureCircles3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    text-align: center;
    background-color: #c69c6d;
    border-radius: 7vh;
    height: 50%;
    width: 50%;
    margin: 2em auto;
    padding: 16px;
}

footer{
    background-color: #42210B;
    height: 50px;
    z-index: 7;
}