body{
    margin: 0;
    background-color: #fff;
    min-width: 1980px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bg{
    background-color: #d6c499;
    margin-right: 10px;
    margin-left: 10px;
    position: absolute;
}

.header{
    display: flex;
    background-color: #42210B;
    padding: 8px;
    position: absolute;
    right: -10px;
    left: -10px;
    top: 0;
}

.logo{
    max-width: 100px;
    margin-left: 16px;
}

.headlinks{
    display: flex;
    gap: 8px;
    color: #fff;
    list-style: none;
    margin-left: auto;
}

a{
    text-decoration: none;
}

a:link{
    color: #fff;
}

a:hover{
    color: #c69c6d;
}

.title{
    background-color: #c69c6d;
    color: #d6c499;
    font-size: 3.5em;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 0.5em;
    position: absolute;
    height: 200px;
    left: -10px;
    right: -10px;
    top: 100px;
}

h1{
    position: relative;
    top: -40px;
}

.sideTextContainer{
    background-color: #42210B;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    position: relative;
    left: 78%;
    top: 4em;
    height: 1000px;
    width: 20%;
    padding: 16px 8px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sideText{
    position: relative;
    top: -5em;
}

.placeholder1{
    position: relative;
    top: -4.6em;
}

.placeholder2{
    position: relative;
    top: -64em;
    left: 60%;
}

.descriptionSite{
    background-color: #f9ecd2;
    color: #42210B;
    position: relative;
    top: 320px;
    width: 60%;
    left: 10%;
    padding: 20px;
    text-align: center;
    filter: drop-shadow(-10px -10px #c69c6d);

}

.section1{
    background-color: #f9ecd2;
    color: #42210B;
    position: relative;
    top: -800px;
    min-width: 25%;
    max-width: 30%;
    left: 10%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
}

#section-1{
    margin: 0;
    padding: 0;
    position: relative;
    font-style: italic;
    font-weight: 100;
    right: 660px;
}

.section1Description{
    background-color: #c69c6d;
    color: #fff;
    position: relative;
    left: 10em;
    top: -5em;
    padding: 8px;
    width: 30%;
    height: 120px;
    margin: 0;
}

.pictureCircles{
    position: relative;
}

.furbaby{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #c69c6d;
}