body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header,
footer{
    display: flex;
    background-color: #1F2937;
    color: white; 
}

.header{
    flex-direction: column;
    padding: 0 64px 64px;
}

header{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.headlinks{
    display: flex;
    margin-top: 16px;
    margin-bottom: 40px;
    align-items: center;
}

.headcontainer{
    display: flex;
    gap: 32px;
    margin: 40px 0;
}

.title{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
    color: #f9faf8;
}

.linkdesc{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: 0;
    padding: 8px 24px;
}

ul{
    list-style-type: none;
    margin-left: auto;
}

li{
    float: left;
    padding: 8px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.placeholder{
    width: 200px;
}

footer{
    justify-content: center;
    align-items: center;
    padding: 32px;
}